<nav class="navbar">
  <a href="#/home"><img src="assets/img/home64.png"></a>
  <img src="/assets/img/arrow.png" >
  <a href="#/albums"><img src="/assets/img/album64.png"></a>
  <img src="/assets/img/arrow.png" >
  <a href="#/photos"><img src="/assets/img/photo64.png"></a>
</nav>
<a class="google_link" href="https://www.google.com" target="_blank"><img src="assets/img/google.png"></a>
<center>
  <div>
    <img src={{photo.url}}>
    <p style="margin-top:20px;">{{photo.title}}</p>
  </div>
</center>
